@page
@model Fjordieth.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits";
}

<div class="text-center">
    <p>Fjord image from <a href="https://www.travelthewholeworld.org/2015/10/top-10-beautiful-fjords-around-the-earth.html">this blog</a>,
    licensed under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a></p>
</div>
